{% extends "biblio/base_generic.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load django_bootstrap_select_tags %}
{% block content %}
 <hr class="mt-2">
		 <!-- Card Columns Example Social Feed-->
          <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Detalle Libro</div>
          <hr class="mt-2">
          <div class="card-columns">
            <!-- Example Social Card-->
            <div class="card mb-3">
              <a href="#"> 
                <img class="card-img-top img-fluid w-100" src="{% static 'sb-admin/images/'%}{{ libro.ISBN }}.jpg" alt="">
              </a>
              <div class="card-body">
                <h6 class="card-title mb-1">{{ libro.titulo }}</h6>
                <p class="card-text small">{{ libro.resumen }}</p>
              </div>
              <div id="accordion">
              <div class="card-body">
              	 <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#autor">Agregar Autores</a>
   				<div id="autor" class="card-body py-2 small collapse">
				<form method="post" class="form" action="/biblio/autor/actualizar/{{ libro.id }}/">
		    		{% csrf_token %}
		    		{% bootstrap_form form %}
		    		{{ field.errors }}
		    		{% buttons %}
        				<button type="submit" class="btn btn-primary">Guardar</button>
    				{% endbuttons %}
				</form>
				</div>
			  </div>
			  </div>
              <hr class="my-0">
              <div class="card-body py-2 small">
              <p class="card-text medium">ISBN: {{ libro.ISBN }}</p>
              </div>
              <hr class="my-0">
              <div class="card-body small bg-faded">
              <h6 class="card-title mb-1">Autores</h6>
                <div class="media">
                    <div class="list-group">
                    {% for autor in libro.autor_set.all %}
	                    <img class="d-flex mr-3" src="{% static 'sb-admin/images/' %}{{ autor.CI}}.jpg" alt="">
	      				<a href="/biblio/autor/{{ autor.id }}/">{{ autor.nombre }}</a>
    				{% endfor %}
                    </div>
                </div>
              </div>
              <div class="card-footer small text-muted">Fecha de ingreso: {{ libro.fecha_de_ingreso }}</div>
            </div>
          </div>
           
{% endblock %}