{% extends "biblio/base_generic.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load django_bootstrap_select_tags %}
{% block content %}
 <hr class="mt-2">
		 <!-- Card Columns Example Social Feed-->
          <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Detalle Socio</div>
          <hr class="mt-2">
          <div class="card-columns">
            <!-- Example Social Card-->
            <div class="card mb-3">
              <a href="#">
                <img class="card-img-top img-fluid w-100" src="{% static 'sb-admin/images/' %}{{ socio.CI}}.jpg" alt="">
              </a>
              <div class="card-body">
                <h6 class="card-title mb-1">{{ socio.nombre }}</h6>
                <h6 class="card-title mb-1">{{ socio.correo }}</h6>
                <p class="card-text small">{{ socio.fecha_nacimiento }}</p>
              </div>
            </div>
          </div>
          
{% endblock %}